body {
    background-color: #EAEDF5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    width: 50%;
}

.a {
    color: #637BB7;
    padding: 1em;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    border-radius: 25px;
}

/* unvisited link */
a:link{
    color: #7B63B7;
    text-decoration: underline;
}

/* visited link */
a:visited{
    color: #B7A563;
    text-decoration: underline;
}

/* mouse over link */
a:hover{
    color: #63B7A5;
    text-decoration: underline;
}

/* selected link */
a:active{
    color: #637BB7;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;    
    color: white;
}
  
  li {
    float: left;
    border-right: 1px solid #bbb;
}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /*https://amethystwebsitedesign.com/decorative-borders-with-only-css-and-no-images/*/
  .nav-primary {
	background-color: #6375B7;
	border-top: 3px dotted #000;
	border-bottom: 3px dotted #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
	margin-bottom: 1px;
}

.wrapper {
    border: 1px dashed #6375B7;
    box-shadow: 0 0 0 3px #EAEDF5, 0 0 0 5px #EAEDF5, 0 0 0 10px #fff, 0 0 2px 10px #eee;
    background-color: #EAEDF5;
}

.justify {
    text-align: center;
}